.portfolioInside{
    width: 33%;
    margin: 15px;
    /* border: 2px solid red; */
}
.portfolioInside h3{
    text-align: left;
    color: rgb(80, 200, 240);
    margin: 15px;
}
.portfolio{
    width: 90%;
    background-color: white;
    z-index: 100;
    
}
.portfolioBlock{
    display: flex;
    flex-direction: row;
}

.portfolio h2{
    color: rgb(80, 200, 240);
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.services{
    width: 90%;
    margin: 50px 0;
    background-color: white;
    z-index: 100;
}
.services h2{
    color: rgb(80, 200, 240);
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 1px;   
}

.contactUs{
    width: 90%;
    background-color: white;
    z-index: 100;    
}
.contactUs h2{
    margin-top: 20px;
    color: rgb(80, 200, 240);
    font-size: 42px;
    font-weight: 400;
}
.contactUsBlock{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-top: 0 !important;
}
.contactInside{
    width: 100px;
    margin: 0px 10px 10px 10px;
}
.home{
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center content horizontally */
    /* height: 1000vh; */
}

.background{
    background-image: url('../images/bilal\ designer\ +\ developer\ landing\ page\ banner-01.jpg');
    background-size:cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-attachment: fixed;
}

.belowHeader{
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    /* border: 1px solid yellow; */
    text-align: center;
}
.belowHeader h1{
    font-size: 110px;
    margin-bottom: 0;
}
.belowHeader p{
    margin-top: 0;
    font-weight: 200;
    font-size: 40px;
}


/* styling for services portion */
.aboutMe{
    background-color: white;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* background-color: white; */
    /* text-align: center; Center content horizontally */
    padding: 20px; /* Add padding for better spacing */
    /* border: 1px solid black; */
    z-index: 100;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* background-color: black; */

}
.aboutMeInside{
    z-index: 100;
    margin: 10px 25px 10px 50px;
    /* border: 1px solid red; */
}
/* styling for services h1 portion */
.aboutMeInside h1{
    text-align: center;
    font-size: 30px;
    color: rgb(88, 200, 237);
    margin-bottom: 15px;
    /* border: black 1px solid; */
    font-family: 'Poppons', sans-serif;
}
.aboutMeInside h2{
    font-size: 30px;
    text-align: left;
    color: rgb(88, 200, 237);
    margin-bottom: 15px;
    /* border: black 1px solid; */
    font-family: 'Poppons', sans-serif;
}

.aboutMeInside p{
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: justify;
}
/* wrap profile pic into circular avatar */
.profilePicture{
    width: 50%;
    margin: 10px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.profilePicture img{
    width: 50%;
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.25);
}

/* styling for services block portion */
.sBlock{
    margin: 0 0 0px 50px;
    width:  400px;
    height: 400px;
    border-radius: 10px;
}
.sBlock:first-child{
    margin-left: 0;
}

/* first block background */
.sBlockBackground1{
    background-size: cover;
        background-position: center center;
        transition: background-size 0.5s;
}

/* second block background */
.sBlockBackground2{
    background-size: cover;
        background-position: center center;
        transition: background-size 0.5s;
}

/* third block background */
.sBlockBackground3{
        background-position: center center;
        background-size: cover;
        transition: size 0.5s;
}

.sBlockBackground1:hover,
.sBlockBackground2:hover,
.sBlockBackground3:hover{
        background-size: 200%;
        background-position: center center;
}

/* ... (other styles) ... */
.sBlock h2,
.sBlock h3,
.sBlock h4{
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    color: white;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 40px;
    transition: top 0.3s; /* Add transition for smooth animation */

}
.sBlock h2 {
    top: 280px;
}
.sBlock h3 {
    top: 290px;
}
.sBlock h4 {
    display: none;
    transition: top 0.3s; /* Add transition for smooth animation */
}
.sBlock:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sBlock:hover h2{
    top: 260px;
}
.sBlock:hover h3{
    top: 270px;

}
.sBlock:hover h4 {
    top: 250px;
    display: block; /* Show h4 on hover */
    text-decoration:underline;
}


/* skills section styling */
.skillsSection{
    position: relative;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-align: center; /* Center content horizontally */
    padding: 20px; /* Add padding for better spacing */
    width: 90%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.skillsSection:first-child{
    padding-left: 0;
}
.skillsSection:last-child{
    padding-right: 0;
}

.skillsSection h1{
    color: rgb(80, 200, 240);
    font-size: 42px;
    margin-bottom: 25px;
}
/* Add these styles to your existing CSS file */
.skillsBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillsBlockInside {
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column; 
    width: 200px;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid rgb(80, 200, 240); */
}
.skillsBlockInside h4{
    margin: 15px;
    color: rgb(80, 200, 240);
    font-size: 20px;
}
.skillHeading{
width: 150px;
}
.progress-circle-background {
    border-radius: 100%;
    fill: none;
    stroke: #e0e0e0; /* Set the background color */
  }
  
  .progress-circle {
    border-radius: 100%;
    fill: none;
    stroke: rgb(88, 200, 237); /* Set the progress color */
    transition: stroke-dashoffset 0.5s ease-in-out;
  }
  
  .progress-text {
    font-size: 1.5em;
    fill: rgb(88, 200, 237);
    font-weight: bold;
  }
  /* .skillsSection .skillsBlock{
    width: 150px;
    height: 150px;
    position: relative;
    color: red; 
    border-radius: 50%;
}
.skillsSection .skillsBlock h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0;
}
skillsSection .skillsBlock::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;  
}
skillsSection .skillsBlock::after{
    content: '';
    display: block;
    position: absolute;
    inset: 10px;
border-radius: 50%;
} */

/* styling for gallery block portion */
.galleryBlockInside{
    margin: 25px 0 0px 25px;
}
.galleryBlockInside:first-child{
    margin-left: 0;
}
.galleryBlockInside:nth-child(3){
    margin-left: 0;
}
.galleryBlockInside:last-child{
    margin-right: 0;
}
.sBlock:first-child{
    margin-left: 0;
}

/* first block background */
.gBlockBackground{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 650px;
    height: 400px;
    background-size:cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.gBlockBackground2{
    border-radius: 10px;
    width: 425px;
    height: 300px;
    background-size:cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Main Facilities Section */
.MainFacilities{
    width: 90%;
}
.MainFacilities h1{
    color: rgb(160, 100, 0);
    margin: 50px 0;
}
.facilities{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.facilitiesInside{
    flex: 1;
    font-family: 'Raleway', 'Serif';
}
.facilitiesInside h2{
    color: rgb(150, 120, 0);
}
.facilitiesInside p{
    padding: 0 20px;
    text-align:center;
}
.facilitiesIcon {
    /* border: 1px solid red; */
    /* width: 100%; */
    color: rgb(150, 120, 0);
}

/* news and events section */
.newsEvents{
    margin: 50px 0 100px 0;
    text-align: left;
    width: 90%;
    box-sizing: border-box;
}
.newsEvents h1{
    color: rgb(160, 120, 0);
    text-decoration:underline;
    font-size: 36px;
    margin-bottom: 30px;
}
.newsCard{
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.newsCardInside{
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    flex: 1;
    /* border: 1px solid black; */
}
.newsCardInside h2{
    padding: 0 20px 10px 20px;
    font-weight: 500;
    height: 60px;
}
.newsCardInside:first-child{
    margin-left: 0;
}
.newsCardInsideImg{
    width: 100%;
    height: 67%;
    border-radius: 10px 10px 0 0;
    transform: scale(1);
    transition: transform 0.3s;
}
.newsCardInsideImg:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.read-more{
    /* border: 1px solid red; */
    width: max-content;
    position: relative;
    padding: 0 20px 20px 20px;
    cursor: pointer;
}
.read-more:hover{
    color: rgba(160, 120, 0, 1);
}
.read-more::after{
    content: "";
    position: absolute;
    bottom: 10px;
    width: 70%;
    left: 20px;
    height: 4px;
    background-color: #000;
    border-radius: 20px;
    transform: scaleX(0.2);
    transition: transform 0.3s ease-in;
}

.read-more:hover::after{
    transform: scaleX(1);
    background-color: rgba(160, 120, 0, 1);

}
